<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Boxes</title>
    <link rel="stylesheet" th:href="@{css/flexboxes.css}" href="../static/css/flexboxes.css">
</head>
<body>

<div class="inline">1. I</div>
<div class="inline">2. I</div>
<div class="inline">3. I</div>

<div class="block">1. B</div>
<div class="block">2. B</div>
<div class="block">3. B</div>

<div class="nostyle">1. N</div>
<div class="nostyle">2. N</div>
<div class="nostyle">3. N</div>

</body>
</html>